<!DOCTYPE html>
<html lang="sv-SE" ng-app="Grobian">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">	
	<title>grobian.net</title>

	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/node_modules/ng-slider/dist/css/ng-slider.min.css">

	<script src="/node_modules/angular/angular.min.js"></script>	
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/ui-bootstrap-tpls-0.12.1.min.js"></script>
	<script src="/node_modules/ng-slider/dist/ng-slider.min.js"></script>

</head>
<body ng-controller="MainController">

	<div class="container">
		<form class="form-horizontal">
		<div class="form-group">
			<label for="selectSynth">Synth</label>
			<select id="selectSynth" class="form-control">
				<option>Roland JX8P</option>
				<option>Roland Juno 106</option>
			</select>
		<br/>
		<div ng-repeat="(key, parameter) in parameters">
			<div>{{parameter.label}}</div><br/>
			<div>
			<input ng-model="parameter.value" type="text" slider options="{from:0,to:127,step:1,skin:'round',realtime:true,floor:true,css: { background: {'background-color': 'black'}, before: {'background-color': 'black'}, default: {'background-color': 'black'}, after: {'background-color': 'black'}}}"/>
			</div><br/>
		</div>
		</form>
	</div>
</body>
</html>
